<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Foundation Template | Feed</title>
		<meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
		<meta name="author" content="ZURB, inc. ZURB network also includes zurb.com"/>
		<meta name="copyright" content="ZURB, inc. Copyright (c) 2013"/>
		<link rel="stylesheet" href="/vendor/foundation-5.3.3/css/foundation.min.css"/>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
		<link href="/jquery.tagit.css" rel="stylesheet" type="text/css">
		<script src="/vendor/foundation-5.3.3/js/vendor/modernizr.js"></script>
	</head>
	<body>
	 
		<div class="row">
			<div class="large-12 columns" style="margin-top:80px;">
				
				<ul id="myTags">
					
				</ul>
			</div>
		</div>
	 
	 <hr />
	 
		<div class="row">
			 
			<div class="large-12 columns">				
					<div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]"/></div>
					<div class="large-11 columns">
						<h5>TeliportMe</h5>
						<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
						<ul class="inline-list">
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
						</ul>
					</div>		 		 
			</div>
			
			<div class="large-12 columns">				
					<div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]"/></div>
					<div class="large-11 columns">
						<h5>TeliportMe</h5>
						<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
						<ul class="inline-list">
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
						</ul>
					</div>		 		 
			</div>
			
			<div class="large-12 columns">				
					<div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]"/></div>
					<div class="large-11 columns">
						<h5>TeliportMe</h5>
						<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
						<ul class="inline-list">
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
						</ul>
					</div>		 		 
			</div>
			
			<div class="large-12 columns">				
					<div class="large-1 columns small-2"><img src="http://placehold.it/80x80&text=[img]"/></div>
					<div class="large-11 columns">
						<h5>TeliportMe</h5>
						<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
						<ul class="inline-list">
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
							<li><a href="">Bangalore</a></li>
						</ul>
					</div>		 		 
			</div>
			
		</div>
	 
		<footer class="row">
			<div class="large-12 columns">
				&nbsp;
			</div>
		</footer>
		
		<script src="/vendor/foundation-5.3.3/js/vendor/jquery.js"></script>
		<script src="/vendor/foundation-5.3.3/js/foundation.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
		  $(document).foundation();
		  var doc = document.documentElement;
		  doc.setAttribute('data-useragent', navigator.userAgent);
		</script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
				$("#myTags").tagit({
					autocomplete: {delay: 0, minLength: 2},
					availableTags: sampleTags,
				});
			});
		</script>	
		
	</body>
</html>