<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Foundation Template | Feed</title>
		<meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
		<meta name="author" content="ZURB, inc. ZURB network also includes zurb.com"/>
		<meta name="copyright" content="ZURB, inc. Copyright (c) 2013"/>
		<link rel="stylesheet" href="/vendor/foundation-5.3.3/css/foundation.min.css"/>
		<script src="/vendor/foundation-5.3.3/js/vendor/modernizr.js"></script>
		<style type="text/css">
			.searchbox {
				padding:10px;
				font-size:14px;
				width:220px;
			}
		</style>
	</head>
	<body>
	 
		<div class="row">			
			<div class="large-1 columns" style="margin-top:80px;">
				
				&nbsp;
				
			</div>
			<div class="large-3 columns" style="margin-top:80px;">
				
				<input id="skilltagslist" class="searchbox" placeholder="Type skill here" list="tagslist1" />
				
				<datalist  id="tagslist1">
					{{{innerhtml.SkillTag}}}
				</datalist >
			</div>
			<div class="large-3 columns" style="margin-top:80px;">
				
				<input id="locationtagslist" class="searchbox" placeholder="Type location here" list="tagslist2" />
				
				<datalist  id="tagslist2">
					{{{innerhtml.LocationTag}}}
				</datalist >
			</div>
			<div class="large-3 columns" style="margin-top:80px;">
				
				<input id="roletagslist" class="searchbox" placeholder="Type role here" list="tagslist3" />
				
				<datalist  id="tagslist3">
					{{{innerhtml.RoleTag}}}
				</datalist >
			</div>
			<div class="large-2 columns" style="margin-top:80px;">
				
				<a href="#" id="jobsearch" class="button [tiny small large]">Search</a>
				
			</div>
		</div>
	 
	 <hr />
	 
		<div class="row" id="results_space">
			 
								
			
		</div>
	 
		<footer class="row">
			<div class="large-12 columns">
				&nbsp;
			</div>
		</footer>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/vendor/foundation-5.3.3/js/foundation.min.js"></script>
		
		<script>
		  $(document).foundation();
		  var doc = document.documentElement;
		  doc.setAttribute('data-useragent', navigator.userAgent);
		  		  
		  $(document).ready(function() {
				
				$("#jobsearch").on("click",function() {
					
					$("#results_space").html("");
					$.post("/api/search",{"names":[$("#skilltagslist").val(),$("#locationtagslist").val(),$("#roletagslist").val()]},function(data){
						
						$("#results_space").html(templateJob(data));						
					
					});
										
				});
				
		  });

		  function templateJob(data) {
		  
			var html = "";
			for(x in data) {
				html += '<div class="large-12 columns"><div class="large-1 columns small-2"><img src="'+data[x].startup.logo_url+'"/></div><div class="large-11 columns"><h5>'+data[x].startup.name+'</h5><p>'+data[x].startup.product_desc+'</p><p>'+data[x].startup.high_concept+'</p><ul class="inline-list"><li><a href="">'+data[x].job_type+'</a></li><li><a href="">'+data[x].title+'</a></li></ul></div></div>';
			}
			return html;		  
		  
		  }
		  
		</script>
		
	</body>
</html>